.search {
  padding: 20px;
}

.form {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}

.input-wrapper {
  background-color: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.input-wrapper:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.search-icon-wrapper {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon {
  margin: auto;
}

.icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  position: relative;
  line-height: 24px;
}

.search-input {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.search-input-wrapper {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.mic-icon-wrapper {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.mic-icon {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

.subInput {
  padding-top: 18px;
}

.subInput input{
  padding: 0 16px;
  margin: 11px 4px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  font-family: arial, sans-serif;
  line-height: 27px;
  text-align: center;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
  height: 36px;
}

.subInput input:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
